@font-face {
  font-family: "Merriweather";
  src: url(https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap);
}

table {
  border: 0px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
table.nested-table {
  background-image: url("https://raw.githubusercontent.com/VatsalUnadkat/vatsalunadkat.github.io/master/Photos/IMG_Description.jpg");
  background-size: contain;
  border-collapse: collapse;
  border: 0px;
  width: 101%;
  height: 100%;
}

th {
  text-align: center;
}

td {
  width: 30%;
}
td.tech-blog {
  background-image: url("https://raw.githubusercontent.com/VatsalUnadkat/vatsalunadkat.github.io/master/Photos/IMG_Tech.jpg");
  background-size: contain;
}
td.adv-blog {
  background-image: url("https://raw.githubusercontent.com/VatsalUnadkat/vatsalunadkat.github.io/master/Photos/IMG_Adventure.jpg");
  background-size: contain;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-family: "Merriweather", serif;
}
