@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Sigmar+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

@font-face {
  font-family: "Merriweather";
  src: url(https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap);
}

table {
  border: 0px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
table.nested-table {
  border: 0px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
}

td {
  width: 30%;
  text-align: center;
  cursor: pointer;
}
td.main-dis {
  background-image: url("https://raw.githubusercontent.com/VatsalUnadkat/vatsalunadkat.github.io/master/Photos/IMG_Main_Description.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
td.tech-blog {
  background-image: url("https://raw.githubusercontent.com/VatsalUnadkat/vatsalunadkat.github.io/master/Photos/IMG_Main_Tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: text-top;
}
td.adv-blog {
  background-image: url("https://raw.githubusercontent.com/VatsalUnadkat/vatsalunadkat.github.io/master/Photos/IMG_Main_Adventure.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: text-top;
}

div.tech-text {
  position: relative;
  top: 0px;
  right: 0px;
}

div.adv-text {
  margin-top: 120px;
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 40;
  text-align: center;
}
h1.cloud {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 30px rgba(255, 255, 255, 0.6), 0px 0px 50px rgba(255, 255, 255, 0.5),
    0px 0px 180px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.2);
  font-family: "Merriweather", serif;
  font-size: 80px;
}

marquee {
  color: yellow;
}

td a {
  display:block;
  width:100%;
}
