body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2em 0; /* Add padding to top and bottom */
    box-sizing: border-box;
    background: url('assets/backgrounds/hatching-7098132_1920.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the flex container */
    min-height: 100vh; /* Ensure the background covers the full height of the viewport */
}

.container {
    width: 800px;
    min-height: 1000px;
    background-color: #222222; /* Dark theme background */
    color: #fff; /* White text */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9); /* shadow effect */
    padding: 2em;
    margin: 2em 0;
    border-radius: 10px; /* rounded corners */
}

header {
    background-color: #222222;
    color: #fff;
    padding: 0.2em;
    text-align: right; /* Align text to the right */
    border-radius: 10px 10px 0 0; /* rounded corners */

}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align navigation to the right */
    margin: 0;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin-bottom: 2em;
}

#hero {
    text-align: left;
    margin-top: 5em;
    margin-bottom: 5em;
}

#projects .project {
    margin-bottom: 2em;
}
