body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 2em 0; /* Add padding to top and bottom */
    box-sizing: border-box;
    background: url('https://raw.githubusercontent.com/vatsalunadkat/vatsalunadkat.github.io/master/images/backgrounds/hatching-7098132_1920.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the flex container */
    min-height: 100vh; /* Ensure the background covers the full height of the viewport */
}

.container {
    width: 800px;
    min-height: 1000px;
    background-color: #222222; /* Dark theme background */
    color: #fff; /* White text */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9); /* shadow effect */
    padding: 2em;
    margin: 2em 0;
    border-radius: 10px; /* rounded corners */
}

header {
    background-color: #222222;
    color: #fff;
    padding: 0.2em;
    text-align: right; /* Align text to the right */
    border-radius: 10px 10px 0 0; /* rounded corners */
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align navigation to the right */
    margin: 0;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin-bottom: 2em;
}

.hero-table {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 2em;
}

.photo-cell {
    align-self: end;
    /*padding-right: 1.5em;*/
}

#hero {
    text-align: left;
    margin-top: 4.5em;
    margin-bottom: 5em;
    line-height: 150%;
}

#projects .project {
    margin-bottom: 2em;
}

.name {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 2px;
}

.anim-text-flow span {
    margin-top: 1px;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    animation-name: anim-text-flow-keys;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

/* Keyframe loop */
@keyframes anim-text-flow-keys {
    0% { color: hsla(85, 60%, 60%, 1); }
    5% { color: hsla(170, 60%, 60%, 1); }
    10% { color: hsla(255, 60%, 60%, 1); }
    15% { color: hsla(340, 60%, 60%, 1); }
    20% { color: hsla(425, 60%, 60%, 1); }
    25% { color: hsla(510, 60%, 60%, 1); }
    30% { color: hsla(595, 60%, 60%, 1); }
    35% { color: hsla(680, 60%, 60%, 1); }
    40% { color: hsla(765, 60%, 60%, 1); }
    45% { color: hsla(850, 60%, 60%, 1); }
    50% { color: hsla(935, 60%, 60%, 1); }
    55% { color: hsla(1020, 60%, 60%, 1); }
    60% { color: hsla(1105, 60%, 60%, 1); }
    65% { color: hsla(1190, 60%, 60%, 1); }
    70% { color: hsla(1275, 60%, 60%, 1); }
    75% { color: hsla(1360, 60%, 60%, 1); }
    80% { color: hsla(1445, 60%, 60%, 1); }
    85% { color: hsla(1530, 60%, 60%, 1); }
    90% { color: hsla(1615, 60%, 60%, 1); }
    95% { color: hsla(1700, 60%, 60%, 1); }
    100% { color: hsla(1785, 60%, 60%, 1); }
}

/* Element animation delay loop */
.anim-text-flow span:nth-child(1) { animation-delay: 0s; }
.anim-text-flow span:nth-child(2) { animation-delay: -0.2s; }
.anim-text-flow span:nth-child(3) { animation-delay: -0.4s; }
.anim-text-flow span:nth-child(4) { animation-delay: -0.6s; }
.anim-text-flow span:nth-child(5) { animation-delay: -0.8s; }
.anim-text-flow span:nth-child(6) { animation-delay: -1.0s; }
.anim-text-flow span:nth-child(7) { animation-delay: -1.2s; }
.anim-text-flow span:nth-child(8) { animation-delay: -1.4s; }
.anim-text-flow span:nth-child(9) { animation-delay: -1.6s; }  /* Middle */
.anim-text-flow span:nth-child(10) { animation-delay: -1.4s; }
.anim-text-flow span:nth-child(11) { animation-delay: -1.2s; }
.anim-text-flow span:nth-child(12) { animation-delay: -1.0s; }
.anim-text-flow span:nth-child(13) { animation-delay: -0.8s; }
.anim-text-flow span:nth-child(14) { animation-delay: -0.6s; }
.anim-text-flow span:nth-child(15) { animation-delay: -0.4s; }
.anim-text-flow span:nth-child(16) { animation-delay: -0.2s; }
.anim-text-flow span:nth-child(17) { animation-delay: 0s; }

/* Blob Animation */
.blob {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    background-color: transparent;
    animation:
        blobber 90s 0s linear infinite;
}

.blob:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background-image: url('https://raw.githubusercontent.com/vatsalunadkat/vatsalunadkat.github.io/master/images/pictures/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: blobber 90s 0s ease-in-out infinite
}

/* Blob Keyframes */
@keyframes blobber {
    0% { border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
    5% { border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%; }
    10% { border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%; }
    15% { border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%; }
    20% { border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%; }
    25% { border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%; }
    30% { border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%; }
    35% { border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%; }
    40% { border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%; }
    45% { border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%; }
    50% { border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%; }
    55% { border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%; }
    60% { border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%; }
    65% { border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%; }
    70% { border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%; }
    75% { border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%; }
    80% { border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%; }
    85% { border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%; }
    90% { border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%; }
    95% { border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%; }
    100% { border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
}
